*{
   padding: 0;
   margin: 0;
}
body{
   margin: 0%;
   min-height: 100vh;
   display: grid;
   align-items: center;
   justify-content: center;
   background-color: rgb(94, 85, 41);
}
h1{
   font: normal 22pt sans-serif;
}
#header{
   text-align: center;
   background-color: #b2b2b2;
   border: ridge;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 8px;
}
#header > span{
   font-size: 11pt;
}
canvas{
   border: ridge;
}